* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

/* Nave section */
.nave-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* list-style: none; */
    padding: 10px;
    background-color: rgba(71, 125, 17, 0.15);
}

.menu-bar {
    list-style: none;
    display: flex;
    font-size: 20px;
    padding: 10px;
    gap: 30px;
}

/* Banner Section */
.banner-section {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
    /* padding: 200px; */
}

.pngwing {
    width: 435px;
    height: 610px;
    margin-right: 150px;
    margin-top: 50px;
}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: left;
    margin-bottom: 20px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.banner-section-description {
    padding: 80px;
    margin: 100px;
    /* text-align: left; */
}

.btn {
    border-radius: 8px;
    background: #E55473;
    padding: 15px 42px;
    margin-top: 20px;
    border: none;
    color: white;
}
/* Featured Flowers Section */

.Featured {
    height: 20vh;
    text-align: center;
}

.featured-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    /* line-height: normal; */
    padding-top: 100px;
    padding-bottom: 20px;
}

.feautured-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}

.feautured-section {
    height: 100vh;
    /* margin-top: 5px; */
    padding: 30px 70px 30px 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    /* width: 250px 250px; */
}

.tree {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    width: 340px;
    height: 440px;


}

.tree-image {
    width: 250px;
    height: 350px;
    /* flex-shrink: 0; */
    padding: 40px;
    /* border: 500px; */
    margin-top: 50px;
}

.tree-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 340px;
    height: 440px;
}

.tree-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 340px;
    height: 440px;
}

.flowers-name {
    text-align: center;
}

/* delivey-section */
.delivey-section {
    padding: 30px 100px 30px 70px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    width: 980px;
    height: 190px;
    /* flex-shrink: 0; */
    margin: auto;
}

.delivery-text {
    margin-top: 20px;
    text-align: center;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    justify-content: space-between;
    padding-left: 20px;
}

.delivery-icon {
    margin: auto;
    /* padding-left: 60px; */
    /* padding-right: 60px; */
    padding: 0px 65px 0px 55px;
}

.delivery-icon-group {
    padding-left: 80px;
}

.delivery {
    padding-left: 90px;
}

/* Hot Deal Section */
.hot-deal-section {
    height: 70vh;
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    padding-left: 150px;
    text-align: center;
}

.deal-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    /* justify-content: center; */
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    /* line-height: normal; */
    padding-top: 100px;
    padding-bottom: 20px;
}
.deal-image{
    width: 250px;
    height: 300px;
    flex-shrink: 0;
    padding-right: 150px;
    padding-left: 0px;
}
span{
    color: #E55473;
}
