/* Universal CSS */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

/* Nave section CSS */
.nave-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    background-color: rgba(71, 125, 17, 0.15);
}

.menu-bar {
    list-style: none;
    display: flex;
    font-size: 20px;
    padding: 10px;
    gap: 30px;
}

/* Banner Section CSS */
.banner-section {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
}

.pngwing {
    width: 435px;
    height: 610px;
    margin-right: 150px;
    margin-top: 50px;
}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: left;
    margin-bottom: 20px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.banner-section-description {
    padding: 80px;
    margin: 100px;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    padding: 15px 42px;
    margin-top: 20px;
    border: none;
    color: white;
}

/* Featured Flowers Section CSS*/

.Featured {
    height: 20vh;
    text-align: center;
}

.featured-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 38px;
    font-style: normal;
    font-weight: 800;
    padding-top: 100px;
    padding-bottom: 20px;
}

.feautured-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}

.feautured-section {
    height: 100vh;
    padding: 30px 70px 30px 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.tree {
    border-radius: 300px 300px 0px 0px;
    background-color: rgba(167, 33, 98, 0.15);
    width: 340px;
    height: 440px;


}

.tree-image {
    width: 250px;
    height: 350px;
    padding: 40px;
    margin-top: 50px;
}

.tree-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 340px;
    height: 440px;
}

.tree-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 340px;
    height: 440px;
}

.flowers-name {
    text-align: center;
}

/* delivey-section CSS*/
.delivey-section {
    padding: 30px 100px 30px 70px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    width: 980px;
    height: 190px;
    margin: auto;
}

.delivery-text {
    margin-top: 20px;
    text-align: center;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    justify-content: space-between;
    padding-left: 20px;
}

.delivery-icon {
    margin: auto;
    padding: 0px 65px 0px 55px;
}

.delivery-icon-group {
    padding-left: 80px;
}

.delivery {
    padding-left: 90px;
}

/* Hot Deal Section CSS */
.hot-deal-section {
    height: 70vh;
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
    padding-left: 150px;
    text-align: center;
}

.deal-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    padding-top: 100px;
    padding-bottom: 20px;
}

.deal-image {
    width: 250px;
    height: 300px;
    flex-shrink: 0;
    padding-right: 150px;
    padding-left: 0px;
}

span {
    color: #E55473;
}

/* Instagram section CSS */
.instagram-featured {
    height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
    padding: 0px 150px 0px 150px;
}

.instagram-image {
    width: 250px;
    height: 280px;
    flex-shrink: 0;
}

/* Newsletter section CSS*/

.newslatter-conatiner {
    padding: 0 0 128px 0;
    margin: 0px 0px 0px 200px;
    text-align: center;
    padding-top: 80px;
    margin: 100px 150px;
    background-image: url("Flower Asset/Rectangle\ 9.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.form-section {
    /* display: flex; */
    /* padding: 15px 42px; */
    /* margin-top: 20px; */
    /* border: none;  */
    /* justify-content: space-between; */
    /* text-align: center; */
    /* justify-content: center; */
}

.mail {
    padding: 13px 13px;
    border-radius: 5px;
    width: 470PX;
    margin: none;
    box-shadow: none;
}

.newslatter-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-weight: 800;
}

.newslatter-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 20px;
}

/* Footer section CSS*/
footer {
    background-color: black;
    padding: 100px 0px;
}
.footer-title{
    font-size: 40px;
    font-family: Lato;
}
.footer-content {
    text-align: center;
    color: white;
}

.span {
    font-size: 50px;
    font-family: Lato;
    color: #e55473;
}

.copyright {
    text-align: center;
    color: rgba(255, 255, 255, 0.40);
    font-size: 14px;
}

.footer-des {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
}